
.container{
    width: 1140px;
    margin: 0 auto;
}
.header{
    background: #008F76;
    width: 1140px;
    height: 120px;
}
.ikonka{

    margin: 40px 100px;
    border: 5px solid white;
    border-radius: 50px;
    background: white;
}
.head1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textH{
    display: flex;
    justify-content: space-between;
}
.textH1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.textH2{
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015));
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    margin: 0 40px 0 0;
    width: 101px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textH2:hover{
    background: darkturquoise;
    transition: background-color 0.4s;
}
#section{
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F5FF 100%);
}
.textS1{
    color: #008F76;
    font-family: 'Gentium Basic', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: -40px;
}
.textS1c{
    margin: 0 5px;
    color: #212121
}
.textS2c{
    color:  #008F76
}
.textS2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    color: #212121;
}
.menu1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.texty{
    margin: 40px;
}
.textS3{
     display: flex;
    justify-content: center;
}
.textS3c{
   color: #FFFFFF;
    text-decoration: none;
}
.textS3c2{
    color: #008F76;
    text-decoration: none;
}
.textS3btn{
    width: 190px;
    height: 52px;
    background: #008F76;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.03), 0 12px 10px rgba(0, 0, 0, 0.015);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 40px;
}
.textS3btn2{
    border: 1px solid #008F76;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015));
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 190px;
    height: 50px;
}
.textS3btn:hover{
    background: darkturquoise;
    transition: background-color 0.4s;
}
.textS3btn2:hover{
    background: darkturquoise;
    transition: background-color 0.4s;
}
.line{
    display: flex;
    justify-content: center;
}

.text1Img{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    width: 103px;
    height: 4px;
    color: #212121;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}
.text2Img{

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5px;
    width: 48px;
    height: 4px;
    color: #008F76;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.img1{
    width: 60px;
    height: 86.04px;
    margin-left: 12px;
}

.imgS{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "div . . . div6"
    ". div3 div4 div5 ."
    "div2 . . . div7";
}
.div {
    width: 120px;
    height: 170px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    grid-area: div; }
.Pdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div2 {
    width: 130px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    grid-area: div2; }
.text1Img2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    margin-left: 13px;
    color: #212121;
}
.text2Img2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5px;
    margin-left: 13px;
    color: #008F76;
}
.img2{
    width: 105px;
    height: 162.54px;
    margin-left: 12px;
}
.div3 {
    width: 130px;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    grid-area: div3; }
.text1Img3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    color: #212121;
    margin-left: 13px;
}
.text2Img3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5px;
    color: #008F76;
    margin-left: 13px;
}
.img3{
    width: 105px;
    height: 155.59px;
    margin-left: 13px;
}
.div5 {
    width: 130px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    grid-area: div5; }
.text1Img4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    color: #212121;
}
.div4 { grid-area: div4; }
.div6 { grid-area: div6; }
.div7 { grid-area: div7; }










